{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">Community</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/community-disaster.jpg' %}" style="width:100%;" />
        	</div>
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>DISASTER PREPAREDNESS</b></h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            	<img src="{% static 'council/images/community-relieft.jpg' %}" style="width:100%;" />
            </div>
            <div class="form-group col-md-8 mb-0">
            	<b>A Higher Purpose</b>
				Prepare your community before disaster strikes. Councils will engage their parish and community in disaster preparedness exercises by organizing trainings, fundraisers and various awareness activities.<br><br>

				<b>Overview</b>
				Communities can be brought to a halt when disaster occurs – from large natural disasters to local crises. As community leaders, Knights of Columbus will ensure that their members, families and parish communities are prepared through a campaign that promotes planning and education. This program motivates councils to take a holistic approach to emergency situations by promoting readiness in times of crisis, assessing response capabilities, and learning how to properly respond well ahead of a disaster. Councils will also fundraise and teach (where able) in anticipation of larger efforts to assist brothers in need.
            </div>
        </div>

<br>
<!-- Collapse -->
<div class="form-row">
            <div class="form-group col-md-12 mb-0">
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <a href="{% url 'community' %}"><button type="button" class="btn btn-primary">Action Steps</button></a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <a href="{% url 'CommunityDisasterPreparation' %}"><button type="button" class="btn btn-primary">Council Disaster Preparation</button></a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Third group">
    <a href="{% url 'CommunityRespondent' %}"><button type="button" class="btn btn-info">Respond to a Disaster</button></a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Third group">
    <a href="{% url 'CommunityIndividualResponse' %}"><button type="button" class="btn btn-primary">Individual Response</button></a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Third group">
    <a href="{% url 'CommunityResources' %}"><button type="button" class="btn btn-primary">Resources</button></a>
  </div>
</div>
</div></div>
<div class="form-row">
<div class="form-group col-md-12 mb-0">

<p><h4><b>Respond to a Disaster</b></h4>
When a disaster occurs, the following steps should be taken to ensure that all council members and their families are safe before and after the event. These steps include:

<ol type = "1"><li>Immediately put your phone tree into action to ensure the safety of council members and their families
</li><li>Notify your jurisdiction leadership and disaster coordinator of the status of your members and their families, highlighting any needs that they may have
</li><li>Maintain contact lists of the parish's vulnerable community members (the elderly, disabled, and widow(er)s) to ensure that they have access to food and water
</li><li>After the danger has passed, hold fundraisers and collection drives to benefit those effected by the disaster
</li><li>To the extent possible, communicate with the jurisdiction disaster coordinator and jurisdiction leadership regarding available and safe facilities for a council to use as a point of distribution (i.e., schools, parish or council halls)
</li><li>Volunteer – encourage members to volunteer for opportunities suitable to their abilities and the council’s ability to respond
</li>
    <ul type="disc"><li>After major disasters, those effected often need help cleaning up debris, repairing fences, spreading traps on roof, rebuilding damaged wheelchair ramps, or a myriad of other activities
</li></ul></ol>
Important Note: During and in the immediate aftermath of a disaster, never act in the context of a council beyond ensuring members of the council and parish community are safe unless assistance has been requested by emergency professionals, your parish, community disaster coordinator or through your state council leadership.
</p>
            </div>
       
                          </div></div>
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}