{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">FAITH</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/faith-holy-hour.jpg' %}" style="width:100%;" />
        	</div>
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>HOLY HOUR</b></h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            	<img src="{% static 'council/images/faith-holy-hours.jpg' %}" style="width:100%;" />
            </div>
            <div class="form-group col-md-8 mb-0">
            	<b>A Higher Purpose</b>
				Encourage deep personal encounter with God. Knights of Columbus councils work with their pastors to organize a regular Holy Hour of eucharistic adoration. Prepared for the men of the parish, this Holy Hour could include a reflection, communal rosary, prayers for intercession by St. Joseph or Knights of Columbus founder, Venerable Michael McGivney, and various other aspects as decided by the council.
				<br><b>Overview</b>
				The chivalric character of the Knights of Columbus and the Church’s long tradition of spiritual combat resonate with men today – especially as threats from the world and the devil are so keenly felt. Eucharistic adoration in the form of a regularly scheduled Holy Hour is a simple, direct, and meaningful way to address these needs. It is familiar to many, easy to organize, and something everyone can participate in together regardless of age, vocation, stage of life or membership status. Councils can organize their Holy Hours in a variety of ways and incorporate aspects such as: perpetual adoration, the sacrament of reconciliation, prayer for particular intentions and more.
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<p><h4><b>Action Steps</b></h4>

<ol type = "1"><li>Working with your pastor, obtain his permission and recommendations on conducting a regular Knights of Columbus Holy Hour.</li>
<li>In conjunction with your pastor, select the dates for your upcoming Holy Hours well in advance. To satisfy program requirements, Holy Hours should be organized at least four times per fraternal year (quarterly). However, councils are strongly encouraged to hold Holy Hours on an even more regular basis.</li>
<li>Prior to the upcoming Holy Hour, use the sample press release as a model to create and distribute a tailored release to local media.</li>
<li>Build public interest! Promote each Holy Hour in your parish and larger community through a variety of efforts:
<ul>
<li>Prominently display promotional posters (which can be ordered through Supplies Online)</li>
<li>Bulletin announcements</li>
<li>Pulpit announcements</li>
<li>Posting on your council and parish website / social media pages</li>
</ul>
</li>
<li>Conduct your Holy Hour. The structure for a Holy Hour is broad and left to the discretion of your council. The primary objective is that all in attendance grow closer in faith with their brothers through a prayerful interaction with the Eucharist and with each other. Please note: this is not a Mass, it is a totally separate service.<br />Aspects of a Holy Hour could include:
<ul>
<li>Rosary</li>
<li>Litanies</li>
<li>Reflections</li>
<li>Particular intentions</li>
<li>Scripture (particularly the daily readings)</li>
<li>Liturgy of the Hours</li>
<li>Hymns</li>
<li>Prayers for intercession by our founder or saints (i.e., Father McGivney, St. Joseph, etc.)</li>
<li>Sacrament of reconciliation</li>
<li>Participation in perpetual adoration</li>
</ul>
Potential resources with further ideas for planning a Holy Hour include:
<ul>
<li><a href="/un/en/resources/cis/cis309.pdf" target="_blank">#309- <em>Prayer Time: A Collection of Catholic Prayers</em></a></li>
<li><a href="/un/en/resources/cis/cis364.pdf" target="_blank">#364- <em>Armed with the Faith</em></a></li>
<li><a href="/un/en/resources/programs/holy-hour/10708-holy-hour-potential-format.pdf" target="_blank">#10708- <em>Knights of Columbus Holy Hour Potential Format</em></a><em>&nbsp;</em>[This document serves as a reference and potential format but is by no means a mandatory structure that councils must follow when carrying out their Holy Hour.]</li>
</ul>
</li>
<li>On the day of the Holy Hour, consider wearing Knights of Columbus apparel and have the council membership director bring brochures and membership documents (including <a href="/un/en/resources/membership/921a-prospect-card.pdf" target="_blank"><em>Prospect Cards</em> #921A</a>). Do not forget that this event is a recruiting opportunity!</li>
<li>Consider hosting a brief fraternal gathering following the conclusion of your Holy Hour.</li>
<li>To gain credit for your program, complete the associated reporting forms and submit them to the Supreme Council Department of Fraternal Mission. Remember to retain copies for your council records.
<ul>
<li>Immediately after your event is finished,&nbsp;complete the <a href="/un/en/resources/programs/10784-fraternal-programs-report-form.pdf" target="_blank"><em>Fraternal Programs Report Form</em> (#10784)</a></li>
<li>At the end of the fraternal year, complete your <a href="/un/en/forms/council/columbian_awardap_p.pdf" target="_blank"><em>Columbian Award Application</em>&nbsp;(#SP-7)</a></li>
</ul>
</li></ol>
</div>

<div class="form-group col-md-12 mb-0">
            	<p><h4><b>Resources</b></h4>
            	<p>All supplies and kits should be ordered by your council Grand Knight or Financial Secretary using the Supplies Online application available through Officers Online. Please note that Guide Sheets, Press Releases, etc. are available below as PDFs.</p>
<ol>
<li><a href="/un/en/resources/programs/holy-hour/10708-holy-hour-potential-format.pdf" target="_blank">#10708-&nbsp;<em>Holy Hour - Potential Format</em></a></li>
<li><a href="/un/en/resources/programs/holy-hour/10707-%20holy-hour-vertical-poster.pdf" target="_blank">#10707-&nbsp;<em>Holy Hour - Vertical Poster</em></a></li>
<li><a href="/un/en/resources/programs/holy-hour/10709-holy-hour-press-release.pdf" target="_blank">#10709-&nbsp;<em>Holy Hour - Press Release</em></a></li>
<li><a href="/un/en/resources/programs/guide-sheets/10597-holy-hour-guidesheet.pdf" target="_blank">#10597-&nbsp;<em>Holy Hour -&nbsp;Guide Sheet</em></a></li>
</ol></p>
            </div>
        </div>

       
                          
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}