{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">FAITH</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/faith-marian-icon.jpg' %}" style="width:100%;" />
        	</div>
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>MARIAN PRAYER - OUR LADY HELP OF PERSECUTED CHRISTIANS</b></h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            	<img src="{% static 'council/images/faith-marian.jpg' %}" style="width:100%;" />
            </div>
            <div class="form-group col-md-8 mb-0">
            	<b>A Higher Purpose</b>
				Spread devotion to Our Lady and pray for our brothers and sisters of faith who are at risk around the world through the Marian Prayer Program. As the Marian image is brought on pilgrimage through the jurisdiction, councils will host the Our Lady Help of Persecuted Christians icon for a prayer service at their parish.<br><br>

				<b>Overview</b>
				The 2019-2020 Marian Prayer Program presents the 18th Marian image sponsored by the Knights of Columbus, this time of Our Lady Help of Persecuted Christians. Each Knights of Columbus jurisdiction receives several Marian images, which serve as the centerpieces for prayer services conducted in churches and council meeting places throughout the Order for the duration of the initiative. Since its inception in 1979, the Knights of Columbus’ Marian Prayer Program has held more than 166,900 local council and parish prayer services with some 20 million participants. This year, the prayer service is intended to raise awareness of the plight of Christians persecuted for their faith and to stand in prayerful solidarity with them.
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<p><h4><b>Action Steps</b></h4>
<b>Planning</b>

<ol type = "1"><li>Working with your pastor, obtain his permission and recommendations on conducting a Marian Prayer Service with the Our Lady Help of Persecuted Christians image.
</li><li>Working with your jurisdiction Marian Prayer Program chairman, coordinate when your council is scheduled to receive the image.
</li><li>Identify council and parish members to fulfill the various roles required in the service.
If not enough booklets remain from previous services, order additional copies of the Marian Prayer Booklet (#5050) and Our Lady Help of Persecuted Christians Prayer Card (#10740) through Supplies Online, the supply ordering portal available on Officers Online.
</li><li>Prior to the Marian Prayer Service, use the Our Lady Help of Persecuted Christians sample press release as a model to create and distribute a tailored release to local media.
Build public interest for the event! Promote the Marian Prayer Service with the Our Lady Help of Persecuted Christians image in your parish and larger community through a variety of efforts:
</li><ul type="disc"><li>Prominently display promotional posters (which can be ordered through Supplies Online)
</li><li>Bulletin announcements
</li><li>Pulpit announcements
</li><li>Posting on your council and parish website / social media pages</li></ul></ol>

<b>Action</b>

<ol type = "1"><li>Representatives of your council should attend the prayer service at the council from which you will receive the image and bring it to your council or parish.
</li><li>Hold your Marian Prayer Service with the following guidelines in mind:
<Ul type="disc"><li>If possible, the choir leader should review the hymns with the congregation before the service
</li><li>Advise the readers and congregation to recite the prayers at a moderate pace to ensure the service is truly reverent
</li><li>Throughout the evening, be ever mindful of Christians who are persecuted for their faith throughout the world, past and present
</li><li>No money should be collected at the service itself</li></Ul>
</li><li>At the close of the prayer service, formally present the image to the next host council. Also collect all Marian Prayer Booklet (#5050).
</li><li>After the service, the grand knight or council Marian Prayer Program chairman should record information about the council’s Marian Prayer Service in the Marian Prayer Log Book (#10741) that accompanies the image.
</li><li>Strongly consider hosting a dinner or other social event in conjunction with the prayer service. This is a perfect opportunity for your council to participate in the Christian Refugee Relief Program and raise awareness and much-needed financial support for Christians at risk. Although the Marian Prayer Program cannot be double-counted for the Christian Refugee Relief Program, a fundraiser after the service could help satisfy the Christian Refugee Relief Program. Visit www.kofc.org/christianrelief for more information and ideas.
</li><li>To gain credit for your program, complete the associated reporting forms and submit them to the Supreme Council Department of Fraternal Mission. Remember to retain copies for your council records.
<ul type="disc"><li>At the end of the fraternal year, complete the Fraternal Programs Report Form (#10784)
</li><li>At the end of the fraternal year, complete your Columbian Award Application (#SP-7)</li></ul></li></ol></p>
        	</div>

<div class="form-group col-md-12 mb-0">
            	<p><h4><b>Resources</b></h4>
            	<b>Resources</b><br>
All supplies and kits should be ordered by your council Grand Knight or Financial Secretary using the Supplies Online application available through Officers Online. Please note that Guide Sheets, Press Releases, etc. are available below as PDFs.

<ol type="1"><li>#5050- Marian Prayer - Booklet
</li><li>#10740- Our Lady Help of Persecuted Christians - Prayer Card
</li><li>#10741- Marian Prayer - Log Book
</li><li>#10739- Marian Prayer - Vertical Poster
</li><li>#10738- Marian Prayer - Horizontal Poster 
</li><li>#10682- Marian Prayer - Guide Sheet</li></ol></p>
            </div>
        </div>

       
                          
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}