{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">FAMILY</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/family-food.jpg' %}" style="width:100%;" />
        	</div>
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>FOOD FOR FAMILIES</b></h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            	<img src="{% static 'council/images/family-food1.jpg' %}" style="width:100%;" />
            </div>
            <div class="form-group col-md-8 mb-0">
            	<b>A Higher Purpose</b>
				Help end hunger in communities across North America. Many in our communities are struggling through hardship and unable to provide food for their families. The goal of Food for Families is to ensure that as few as possible go to bed hungry each night.<br><br>

				<b>Overview</b>
				The Knights of Columbus are committed to helping end hunger through the Food for Families Program, which has donated millions of dollars and millions of pounds of food to the cause. Council and parish families will raise funds to support their local food pantries, food banks and soup kitchens. For every $500 or 1,000 pounds of food donated, the Supreme Council will refund $100 back to the council – up to a maximum of $500 per council per fraternal year. Though in-kind donation of food is valuable, leaders of hunger-relief organizations often comment that financial contributions can be stretched even further and allow nonprofits to procure the exact items needed by the organization and its clients.

        <b>Featured Program Requirements</b>
        Councils are required to collect a minimum of $500 or 1,000 pounds of food for a parish or community food pantry. In addition, council must contribute a minimum of 100 total man-hours in preparation/distribution/service of meals. Report activity using the Food for Families Refund and Plaque Application (#10057).
            </div>
        </div>

<br>
<!-- Collapse -->
<div class="form-row">
            <div class="form-group col-md-12 mb-0">
              <p><h4><b>Action Steps</b></h4>
<b>National or Other Out-of-Town March for Life</b>
<ol>
<li>Set an annual goal for your Food for Families program.</li>
<li>Contact a local food bank, food pantry or soup kitchen to inform them of your intentions and to initiate a partnership.</li>
<li>Conduct various events in your parish and community in order to reach your goal!</li>
<li>Prior to each event, use the sample press release as a model to create and distribute a tailored release to local media.</li>
<li>Build public interest for your program! Promote each event in your parish and larger community through a variety of efforts:
<ul>
<li>Prominently display promotional posters (which can be ordered through Supplies Online)</li>
<li>Bulletin announcements</li>
<li>Pulpit announcements</li>
<li>Post on your council and parish website / social media pages</li>
</ul>
</li>
<li>On the day of each event, wear Knights of Columbus-branded apparel and have the council membership director set up a table with brochures and membership documents (including <a href="/un/en/resources/membership/921a-prospect-card.pdf" target="_blank"><em>Prospect Cards</em> #921A</a>). Do not forget that this event is a recruiting opportunity!</li>
<li>Enlist a fellow Knight or community member to photograph the event.</li>
<li>Once your goal is reached, complete the associated reporting forms and submit them to the Supreme Council Department of Fraternal Mission to obtain credit for your program. Remember to retain copies for your council records.
<ul>
<li>Immediately after your program is finished, complete the <a href="/un/en/resources/programs/food-for-families/10057-food-for-families-report-form.pdf" target="_blank"><em>Food for Families&nbsp;Refund and Plaque Application</em> (#10057)</a> and <a href="/un/en/resources/programs/10784-fraternal-programs-report-form.pdf" target="_blank"><em>Fraternal Programs Report Form</em> (#10784)</a>. Remember to provide proper documentation with form <a href="/un/en/resources/programs/food-for-families/10057-food-for-families-report-form.pdf" target="_blank">#10057</a>, such as a donation receipt or letter from a food assistance organization detailing your donation.</li>
<li>At the end of the fraternal year, complete your <a href="/un/en/forms/council/columbian_awardap_p.pdf" target="_blank"><em>Columbian Award Application</em> (#SP-7</a>)</li>
</ul>
</li>
<li>Proudly display your Food for Families participation plaque in your parish or council hall and continue to add to it by participating every year!</li>
</ol>
<p>Please note: Participating in Food for Families Program does not satisfy the programming requirements for the Helping Hands program. The two activities are separate and cannot be double-counted.</p></p>

<p><h4><b>Resources</b></h4>
                                    
                                    
                                     
                                    
                                    
                                    <b>Resources</b>
<p>All supplies and kits should be ordered by your council Grand Knight or Financial Secretary using the Supplies Online application available through Officers Online. Please note that Guide Sheets, Press Releases, etc. are available below as PDFs.</p>
<ol>
<li><a href="/un/en/resources/programs/food-for-families/10511-food-for-families-brochure.pdf" target="_blank">#10511-&nbsp;<em>Food For Families - Brochure</em></a></li>
<li><a href="/un/en/resources/programs/food-for-families/10057-food-for-families-report-form.pdf" target="_blank">#10057-&nbsp;<em>Food for Families - Refund and Plaque Application</em></a></li>
<li><a href="/un/en/resources/programs/food-for-families/10657-food-for-families-poster.pdf" target="_blank">#10657-&nbsp;<em>Food for Families - Vertical Poster</em></a></li>
<li><a href="/un/en/resources/programs/food-for-families/10658-food-for-families-press-release.pdf" target="_blank">#10658-&nbsp;<em>Food for Families - Press Release</em></a></li>
<li><a href="/un/en/resources/programs/guide-sheets/10610-food-for-families-guidesheet.pdf" target="_blank">#10610-&nbsp;<em>Food for Families -&nbsp;Guide Sheet</em></a></li>
</ol></p>
            </div>
       
                          </div></div>
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}