{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">FAITH</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/faith-marian-icon.jpg' %}" style="width:100%;" />
        	</div>
         
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>Council Forms</b></h3>
             
        
                    <div class="downstream-container">
                    
                                <p>Please submit all PDF forms to the Fraternal Mission Department using the <a href="mailto:fraternalmission@kofc.org">fraternalmission@kofc.org</a> email address.</p>                                  
                                  
                                <p>Tips when using <span style="color: #ff0000;">Online</span> forms:</p>
<ul>
<li>Please print out a copy of the form before submission.</li>
<li>To email a copy to yourself, include your email address at the bottom of the form.</li>
</ul>
<p>&nbsp;</p>
    
                                <table border="0" width="100%" cellspacing="1" cellpadding="4">
<tbody>
<tr class="formListHeader" style="background-color: #1E8FE2;">
<td align="center" width="15%">
<p><strong>Form Number</strong></p>
</td>
<td align="center" width="65%">
<p><strong>Administrative Forms</strong></p>
</td>
<td align="center" width="20%">
<p><strong>Due Date</strong></p>
</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#185</td>
<td align="center"><strong>Report of Officers Chosen for Term</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/officer_report185_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a> - <a style="color: #ff0000;" href="/un/en/members/resources/forms/185.html">Online</a></small></td>
<td align="center">6/30</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#365</td>
<td align="center"><strong>Service Program Personnel Report</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/service_personnel365_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a> - <a style="color: #ff0000;" href="/un/en/members/resources/forms/365.html">Online</a></small></td>
<td align="center">8/1</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#450</td>
<td align="center"><strong>Degree Exemplification Report</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/dd_degree_report450_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a> - <a style="color: #ff0000;" href="http://www.kofc.org/un/cm/html/450/index.html" target="_blank">Online</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#532</td>
<td align="center"><strong>Requisition for First Degree Ceremonials</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/firstdegree_532_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#1295</td>
<td align="center"><strong>Semiannual Council Audit </strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/audit2_1295_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a>&nbsp;(due February)</small><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/audit1_1295_p.pdf' %}"><img src="/un/images/pdf.png" alt="" /> PDF</a>&nbsp;(due August)</small></td>
<td align="center">
<p>2/15</p>
<p>8/15</p>
</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#1728</td>
<td align="center"><strong>Annual Survey of Fraternal Activity</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/fraternal_survey1728_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a>&nbsp;-&nbsp;<a kc-site-link="" secure="" href="/un/en/forms/spa/invite.html?lang=en&amp;form=1728C.01" target="_blank" style="color: #ff0000;">Online</a></small></td>
<td align="center">1/31</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#1728A</td>
<td align="center"><strong>Survey of Fraternal Activity Individual Member Worksheet</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/individual_survey1728a_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#1831</td>
<td align="center"><strong>Relief from Council Dues and Per Capita Taxes</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/dues_relief_1831_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#1842</td>
<td align="center"><strong>Member/Prospect Interest Survey</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/interest_survey.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#2629</td>
<td align="center"><strong>Notice of Appointment of Round Table Coordinator</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/roundtable_coordinators2629_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#2630</td>
<td align="center"><strong>Annual Report KofC Round Table</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/roundtable_report2630_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">6/30</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#SP-7</td>
<td align="center"><strong>Columbian Award Application</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/columbian_awardap_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a> - <a kc-site-link="" secure="" href="/un/en/forms/spa/invite.html?lang=en&amp;form=SP7C.01" target="_blank" style="color: #ff0000;">Online</a> - <a style="color: #ff0000;" href="{% static 'council/pdf/columbian_awardap_instructions.pdf' %}" target="_blank">Instructions</a></small></td>
<td align="center">6/30</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#STSP</td>
<td align="center"><strong>State Council Service Program Awards Entry Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/state_serviceaward_p.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
   
                                <table border="0" width="100%" cellspacing="1" cellpadding="4">
<tbody>
<tr class="formListHeader" style="background-color: #1E8FE2;">
<td align="center" width="15%">
<p><strong>Form Number</strong></p>
</td>
<td align="center" width="65%">
<p><strong>Program Forms</strong></p>
</td>
<td align="center" width="20%">
<p><strong>Due Date</strong></p>
</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#10784</td>
<td align="center"><strong>Fraternal Programs Report Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10784-fraternal-programs-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#1598</td>
<td align="center"><strong>Free Throw Championship - Entry Form and Score Sheet</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/1598-free-throw-entry-form-score-sheet.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#FT-1</td>
<td align="center"><strong>Free Throw Championship - Participation Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/FT-1-free-throw-participation-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">1/30</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#4578</td>
<td align="center"><strong>Soccer Challenge - Entry Form and Score Sheet</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/4578-soccer-challenge-entry-form-and-score-sheet.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#4567</td>
<td align="center"><strong>Soccer Challenge - Participation Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/4567-soccer-challenge-participation-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">12/1</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#4208</td>
<td align="center"><strong>Catholic Citizenship Essay Contest - Entry Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/4208-essay-contest-entry-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#4216</td>
<td align="center"><strong>Catholic Citizenship Essay Contest - Participation Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/4216-essay-contest-participation-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">12/31</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#5025</td>
<td align="center"><strong>KCIC Poster Contest - Entry Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/5025-kcic-poster-contest-entry-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#5023</td>
<td align="center"><strong>KCIC Poster Contest - Participation Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/5023-kcic-poster-contest-participation-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">1/31</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#10675</td>
<td align="center"><strong>Coats for Kids -&nbsp;Report Form</strong><br /><a href="{% static 'council/pdf/10675-coats-for-kids-report-form.pdf' %}" target="_blank"><small><img src="/un/images/pdf.png" alt="" /> PDF</small></a></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#10071</td>
<td align="center"><strong>Global Wheelchair Mission - Report Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10071-global-wheelchair-mission-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#10729</td>
<td align="center"><strong>Habitat for Humanity - Report Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10729-habitat-for-humanity-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#10668</td>
<td align="center"><strong>Family of the Month - Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10668-family-of-the-month-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">15th day of following month</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#10680</td>
<td align="center"><strong>Family of the Year - Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10680-family-of-the-year-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#10057</td>
<td align="center"><strong>Food for Families -&nbsp;Refund and Plaque Application</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10057-food-for-families-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">6/30</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#2863</td>
<td align="center"><strong>RSVP - Refund and Plaque Application</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/2863-rsvp-refund-and-plaque-application.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">6/30</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#10697</td>
<td align="center"><strong>March for Life - Report Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10697-march-for-life-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#4584</td>
<td align="center"><strong>Special Olympics - Report Form</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/4584-special-olympics-report-form.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">1/31</td>
</tr>
<tr class="altTableRowOdd">
<td align="center">#10716</td>
<td align="center"><strong>Ultrasound - Application</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10716-ultrasound-application.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
<tr class="altTableRowEven">
<td align="center">#10715</td>
<td align="center"><strong>Ultrasound - Diocesan Evaluation</strong><br /><small><a style="display: inline-block;" href="{% static 'council/pdf/10715-ultrasound-diocesan-evaluation.pdf' %}" target="_blank"><img src="/un/images/pdf.png" alt="" /> PDF</a></small></td>
<td align="center">No due date</td>
</tr>
</tbody>
</table>
         
                                  
                                <p>Every council is responsible for completing the appropriate reports and sending them to their respective district/jurisdiction officials, if necessary. In every instance, copies of each report form should be kept for the council files.</p>
<p>Any questions concerning the online report forms site or the forms themselves should be directed to:<br /> Department of Fraternal Mission<br /> Supreme Council<br /> 1 Columbus Plaza<br /> New Haven, CT 06510-3326<br /> (203) 752-4270</p>
    
                                <table border="0" width="100%" cellspacing="1" cellpadding="4">
<tbody>
<tr class="formListHeader">
<td align="center" width="15%">&nbsp;</td>
<td align="center" width="65%">
<p><strong>Kit Orders</strong></p>
</td>
<td align="center" width="20%">&nbsp;</td>
</tr>
</tbody>
</table>              
                                  
                                <p><strong>To order materials for upcoming Church Recruitment Drives or to order a kit for the Keep Christ in Christmas Poster Contest, Catholic Citizenship Essay Contest, Free Throw Contest, Soccer Challenge, or Rosary Program, please place your order through </strong><a koc-site-link="" secure="" href="/un/applicationportal/AuthorizeUser.action"><strong><em>Supplies Online</em></strong></a><strong>. Council officers should log in to Officers Online using the "Sign In" button at the very top of this page and then click on the Supplies Online icon.</strong></p>
            </div>
        </div>

       
                          
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}