{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">LIFE</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/life-march-for-life.jpg' %}" style="width:100%;" />
        	</div>
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>MARCH FOR LIFE</b></h3>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            	<img src="{% static 'council/images/life-march-for-life-mini.jpg' %}" style="width:100%;" />
            </div>
            <div class="form-group col-md-8 mb-0">
            	<b>A Higher Purpose</b>
				Show public support for the right to life. Knights of Columbus councils are encouraged to participate in or sponsor local, state/province, regional or national Marches for Life. Councils that coordinate at least 50 participants or who organize a local March for Life will receive credit for this program.<br><br>

				<b>Overview</b>
				The Knights of Columbus encourages others to choose life through public support of the pro-life cause. Knights can organize and participate in local/state/province/regional Marches for Life and/or organize participation of Knights/parishioners/students/etc., in bus trips to the national Marches in Washington, D.C., Ottawa, Mexico City, throughout the Philippines, or in other countries.

        <b>Featured Program Requirements</b>
        Councils are required to organize a minimum of 50 marchers to participate in a national, state, or local March for Life or councils must themselves organize a March for Life. Report activity using the March for Life Report Form (#10697).
            </div>
        </div>

<br>
<!-- Collapse -->
<div class="form-row">
            <div class="form-group col-md-12 mb-0">
              <p><h4><b>Action Steps</b></h4>
<b>National or Other Out-of-Town March for Life</b>
<ol>
<li>Check the websites for March for Life (US) (<a href="http://www.marchforlife.org" target="_blank">marchforlife.org</a>), Campaign Life Coalition (Canada) (<a href="http://www.campaignlifecoalition.com" target="_blank">campaignlifecoalition.com</a>), or Philippine jurisdictions for trip planning information, including: headquarters hotels, associated events, bus drop-off/pick-up/parking locations, etc.</li>
<li>Determine the dates, times and departure points for your trip to and return from Washington, D.C., Ottawa, or other March for Life destination.</li>
<li>Determine per person bus/lodging/meal costs to be covered by council/marchers.</li>
<li>Contact bus companies for price quotes and reserve buses. If lodging is needed, negotiate with hotels for room rates and space for meetings, Mass, meals, etc.</li>
<li>Order <a href="/un/en/resources/service/culture-of-life/9341-18-11x17.pdf" target="_blank"><em>Choose Life Signs</em> (#9341)</a> through Supplies Online, the supply ordering portal available on Officers Online. There is no charge for the signs when ordered in reasonable quantities, according to the size of your group.</li>
<li>Build public interest for the event! Promote the March for Life in your parish and larger community through a variety of efforts:
<ul>
<li>Bulletin announcements</li>
<li>Pulpit announcements</li>
<li>Posting on your council and parish website / social media pages</li>
<li>Diocesan newspapers and other media</li>
</ul>
</li>
<li>Invite schools, seminaries and other religious organizations to send delegates at reduced rates or at council expense; take reservations and collect funds.</li>
<li>Plan meal stops, provide refreshments for the trip and contact information/maps for marchers.</li>
<li>Bring pro-life videos to show on bus monitors and council banner to carry in the march.</li>
<li>On the day of the event, wear Knights of Columbus-branded apparel and have the council membership director provide brochures and membership documents (including <a href="/un/en/resources/membership/921a-prospect-card.pdf" target="_blank"><em>Prospect Cards</em> #921A</a>). Do not forget that this event is a recruiting opportunity!</li>
<li>Enlist a fellow Knight or community member to photograph the march.</li>
<li>To gain credit for your program, complete the associated reporting forms and submit them to the Supreme Council Department of Fraternal Mission. Remember to retain copies for your council records.
<ul>
<li>Immediately after your event is finished, complete the <a href="/un/en/resources/programs/march-for-life/10697-march-for-life-report-form.pdf" target="_blank"><em>Marches for Life Report Form</em> (#10697)</a> and&nbsp;<a href="/un/en/resources/programs/10784-fraternal-programs-report-form.pdf" target="_blank"><em>Fraternal Programs Report Form</em> (#10784)</a></li>
<li>At the end of the fraternal year, complete your <a href="/un/en/forms/council/columbian_awardap_p.pdf" target="_blank"><em>Columbian Award Application</em> (#SP-7)</a></li>
</ul>
</li>
</ol>
<b>Organizing a Local Rally/March</b>
<ol>
<li>Contact other local councils, churches, and pro-life organizations to form a coordinating committee.</li>
<li>Determine a date, time, rally location, and/or parade route.</li>
<li>Build public interest for the event! Promote in your parish and larger community through a variety of efforts:
<ul>
<li>Bulletin Announcements</li>
<li>Pulpit Announcements</li>
<li>Posting on your council and parish website / social media pages</li>
<li>Press releases</li>
</ul>
</li>
<li>Order <a href="/un/en/resources/service/culture-of-life/9341-18-11x17.pdf" target="_blank"><em>Choose Life Signs</em> (#9341)</a> through Supplies Online, the supply ordering portal available on Officers Online. There is no charge for the signs when ordered in reasonable quantities, according to the size of your group.</li>
<li>Coordinate with local authorities for a permit for a parade in the street, sound systems to be used for the rally, and general security guidelines.</li>
<li>Appoint Knights of Columbus members as marshals to organize the marchers at the rally and to assure safety as they march in the street or cross intersections from sidewalks.</li>
<li>Appoint Knights of Columbus members to distribute signs before the march or rally and to clean up the grounds after the event.</li>
<li>Obtain radios for communications or share cell phone numbers among marshals to help with coordination of the event.</li>
<li>On the day of the event, wear Knights of Columbus-branded apparel.</li>
<li>Rally: If a rally is involved, invite and schedule rally speakers, such as religious/church leaders, pro-life organization leaders, and pro-life government officials (Refer to Officers Online for &ldquo;Guidelines for Political Activity&rdquo; and &ldquo;Catholic Citizenship and Public Policy&rdquo;)</li>
<li>Rally: If a rally is to be held, order necessary sound system equipment.</li>
<li>Rally: Set up a Knights of Columbus membership table and vendor booths for pro-life organizations around the rally site. Have the council membership director provide brochures and membership documents (including <a href="/un/en/resources/membership/921a-prospect-card.pdf" target="_blank"><em>Prospect Cards</em> #921A</a>). Do not forget that this event is a recruiting opportunity!</li>
<li>Enlist a fellow Knight or community member to photograph the event.</li>
<li>Schedule a special pro-life themed Mass before or after the march/rally at a nearby church.</li>
<li>If organizations (such as Fourth Degree Knights) wish to march as units with their banners, create a list of units in the order they will be called to line up for the march.</li>
<li>After the march, invite participants back to the church, council hall or rally site for refreshments.</li>
<li>To gain credit for your program, complete the associated reporting forms and submit them to the Supreme Council Department of Fraternal Mission. Remember to retain copies for your council records.
<ul>
<li>Immediately after your event is finished, complete the <a href="/un/en/resources/programs/march-for-life/10697-march-for-life-report-form.pdf" target="_blank"><em>Marches for Life Report Form</em> (#10697)</a> and&nbsp;<a href="/un/en/resources/programs/10784-fraternal-programs-report-form.pdf" target="_blank"><em>Fraternal Programs Report Form</em> (#10784)</a></li>
<li>At the end of the fraternal year, complete your <a href="/un/en/forms/council/columbian_awardap_p.pdf" target="_blank"><em>Columbian Award Application</em> (#SP-7)</a></li>
</ul>
</li>
</ol>
<b>Definitions:</b>
<ul>
<li>Rally: Held in one location, indoors or outdoors, usually with speakers, music, cheers, and prayers. It is a separate event, before or after a march.</li>
<li>March: A public demonstration with signs and banners, in the form of a parade, in the street or along sidewalks.</li>
</ul>

<p><h4><b>Resources</b></h4>
                                    
                                    
                                     
                                    
                                    
                                    <b>March for Life Resources</b>
<p>All supplies and kits should be ordered by your council Grand Knight or Financial Secretary using the Supplies Online application available through Officers Online. Please note that Guide Sheets, Press Releases, etc. are available below as PDFs.</p>
<ol>
<li><a href="/un/en/resources/programs/march-for-life/10694-march-for-life-brochure.pdf" target="_blank">#10694-&nbsp;<em>March for Life - Brochure</em></a></li>
<li><a href="/un/en/resources/programs/march-for-life/10697-march-for-life-report-form.pdf" target="_blank">#10697- <em>March for Life - Report Form</em></a></li>
<li><a href="/un/en/resources/programs/march-for-life/10696-march-for-life-vertical-poster.pdf" target="_blank">#10696- <em>March for Life - Vertical Poster</em></a></li>
<li><a href="/un/en/resources/programs/march-for-life/10695-march-for-life-horizontal-poster.pdf" target="_blank">#10695- <em>March for Life - Horizontal Poster</em></a></li>
<li><a href="/un/en/resources/programs/guide-sheets/10620-march-for-life-guidesheet.pdf" target="_blank">#10620-&nbsp;<em>March for Life -&nbsp;</em><em>Guide Sheet</em></a></li>
</ol></p>
            </div>
       
                          </div></div>
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}