{% extends 'council/base.html' %}
{% load static %}
{% block main %}

<div class="row">
    <div class="col-lg-12">
        <div class="content-section">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">FAITH</div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                                   
                       <div class="form-row">
                      <div class="form-group col-md-12 mb-0" align="right">
               
            </div>    
            </div>                  
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<img src="{% static 'council/images/faith-marian-icon.jpg' %}" style="width:100%;" />
        	</div>
         
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
            	<br><h3><b>OFFICER GUIDES</b></h3>
             
        
<p>&nbsp;Officer handbooks provide a general overview of the duties and responsibilities of officer positions within the Order along with reference sections on laws and rules within the Knights of Columbus.</p>
<ul>
<li><a href="{% static 'council/pdf/chaplain.pdf' %}" target="_blank" rel="external">Chaplain&rsquo;s Handbook (PDF)</a></li>
<li><a href="{% static 'council/pdf/districtdeputy.pdf' %}" target="_blank" rel="external">District Deputy's Guide (PDF)</a></li>
<li><a href="{% static 'council/pdf/grandknight.pdf' %}" target="_blank" rel="external">Grand Knight's Guide (PDF)</a></li>
<li><a href="{% static 'council/pdf/officers.pdf' %}" target="_blank" rel="external">Leadership Resources (PDF)</a></li>
<li><a href="{% static 'council/pdf/fshandbook.pdf' %}" target="_blank" rel="external">Financial Secretary's Guide (PDF)</a></li>
<li><a href="{% static 'council/pdf/fchandbook.pdf' %}" target="_blank" rel="external">Faithful Comptroller Handbook (PDF)</a></li>
<li><a href="{% static 'council/pdf/vocations.pdf' %}" target="_blank" rel="external">Vocations Handbook (PDF)</a></li>
</ul>
            </div>
        </div>

       
                          
                            
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}