{% extends "council/base.html" %}
{% load crispy_forms_tags %}

{% load humanize %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Reset Password</li>
{% endblock %}

{% block main %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock main %}
